#header
  %h1 Haml for the Browser!
  %img{src: "/images/logo.png", alt:"haml-js logo"}
  %script{type: "text/javascript"}
    alert("Cool Stuff");
#main
  %p
    Welcome to my simple site. 
    This is a multiline paragraph.
  %p{$:{click:[function(){this.hide();}]}}
    Hide Me!
#sidebar
  %h2 Cool Links
  %ul
    %li <http://haml.hamptoncatlin.com/>
    %li <http://github.com/creationix/haml-js>
    %li <http://github.com/creationix/rack-php>
#footer
  © 2009 Tim Caswell

